*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1a1a1c;
    color: #fff;
  }
  
  .home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #fff;
  }
  .home-page h1{
    margin-bottom: 100px;
    font-size: 60px;
  }
  .link-page{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .linkButton{
    display: block;
    background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    width: 250px;
    height: 70px;
    font-size: 20px;
    margin-right: 20px;
  }