.rate-container {
    display: flex;
    justify-content: center;
}
.rate-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}
.rate {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.rate h1 {
    font-size: 16px;
    width: 150px;
}

.rate-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;  
}

.rate-unit{
    width: 110px;
}

.rate-value{
    width: 200px;
}

.rate-type{
    width: 240px;
}